In [1]:
import sys
import os

sys.path.append(os.path.abspath("../utils")) 

import joblib
import pandas as pd

import utils

In [2]:
# carregar modelos
vectorizer = joblib.load(open('../modelos/TfidfVectorizer.pkl', 'rb'))
model = joblib.load(open('../modelos/modelNB_TfidfVectorizer.pkl', 'rb'))

In [3]:
df_pred = pd.read_csv('tweet_sentiment_airlines_deploy.csv')
df_pred.columns = ['texto_tweet']

In [4]:
X = df_pred['texto_tweet']
# data clean
X = [utils.clean_tweet(x) for x in X]
# transforma pra features
X = vectorizer.transform(X)

In [5]:
# prever
df_pred['sentimento_tweet'] = model.predict(X)

In [6]:
df_pred

                                            texto_tweet  sentimento_tweet
0     @united No. Denver said they don't handle bagg...                 0
1     @united well, thanks for not charging me for s...                 0
2                   @VirginAmerica is the website down?                 0
3     @USAirways on the DL, send Ethan some new pant...                 1
4     Yes but I will nvr fly w/ @USAirways I missed ...                 1
...                                                 ...               ...
2923  @USAirways Marsha M. at Myrtle Beach is the gr...                 1
2924  @united to DM you I have to follow you and I'm...                 1
2925  @AmericanAir After being patient about my "del...                 0
2926  @united thanks, I'm booked. Just spent an extr...                 0
2927  @SouthwestAir crazy hold times today. Over an ...                 0

[2928 rows x 2 columns]